[Unit]
Description=Real-time Translator Capture Socket
Documentation=man:systemd.socket(5)

[Socket]
ListenStream=%t/rt-capture.sock
SocketMode=0660

[Install]
WantedBy=sockets.target