[Unit]
Description=Real-time Translator Playback Service
Requires=rt-playback.socket

[Service]
Type=simple
ExecStart=%h/.nix-profile/bin/python -m src.playback.playback_service --socket-path %t/rt-playback.sock
Restart=always
RestartSec=5

[Install]
Also=rt-playback.socket