[Unit]
Description=Real-time Translator Playback Socket
Documentation=man:systemd.socket(5)

[Socket]
ListenStream=%t/rt-playback.sock
SocketMode=0660

[Install]
WantedBy=sockets.target