[Unit]
Description=Real-time Translator Translation Socket
Documentation=man:systemd.socket(5)

[Socket]
ListenStream=%t/rt-translate.sock
SocketMode=0660

[Install]
WantedBy=sockets.target