[Unit]
Description=Real-time Translator Whisper Service
Requires=rt-whisper.socket

[Service]
Type=simple
ExecStart=%h/.nix-profile/bin/python -m src.whisper.whisper_service --socket-path %t/rt-whisper.sock
Restart=always
RestartSec=5

[Install]
Also=rt-whisper.socket